<div ng-if="currentView === 'listView'">
    <div class="p-4">
        <label class="mb-2">Trạng thái</label>
        <div class="me-auto mb-3">
            <div class="d-inline-flex">
                <input type="checkbox" class="btn-check" id="btn-chonhap" value="Chờ nhập" autocomplete="off"
                    ng-model="statusFilters.waiting" ng-change="filterTableData()">
                <label class="btn btn-outline-warning d-flex align-middle px-3 me-2 rounded-3" for="btn-chonhap"><span
                        class="material-symbols-outlined me-2">
                        timelapse
                    </span>Chờ nhập ({{statusFilters.waitingCount}})</label>
                <input type="checkbox" class="btn-check" id="btn-dangkiem" value="Đang kiểm" autocomplete="off"
                    ng-model="statusFilters.checking" ng-change="filterTableData()">
                <label class="btn btn-outline-primary d-flex align-middle px-3 me-2 rounded-3" for="btn-dangkiem"><span
                        class="material-symbols-outlined me-2">
                        radio_button_checked
                    </span>Đang kiểm ({{statusFilters.checkingCount}})</label>
                <input type="checkbox" class="btn-check" id="btn-hoantat" value="Hoàn tất" autocomplete="off"
                    ng-model="statusFilters.completed" ng-change="filterTableData()">
                <label class="btn btn-outline-success d-flex align-middle px-3 rounded-3" for="btn-hoantat"><span
                        class="material-symbols-outlined me-2">
                        check_circle
                    </span>Hoàn tất ({{statusFilters.completedCount}})</label>
            </div>
        </div>
        <label class="mb-2">Ngày tạo</label>
        <div class="d-flex justify-content-between mb-3">
            <div class="input-group w-25 me-auto">
                <input class="form-control" type="date" ng-model="startDateSelected"
                    ng-change="updateDataRevenueChart()">
                <input class="form-control" type="date" ng-model="endDateSelected" ng-change="updateDataRevenueChart()">
            </div>

            <ul class="pagination my-auto">
                <li class="page-item {{currentPage === 1?'disabled':''}}">
                    <a class="page-link d-flex align-middle" href="#" ng-click="currentPage = currentPage - 1"><span
                            class="material-symbols-outlined">
                            chevron_left
                        </span></a>
                </li>

                <li class="page-item {{currentPage === page?'active':''}}" ng-repeat="page in range">
                    <a class="page-link" href="#" ng-click="setPage(page)">{{ page }}</a>
                </li>

                <li class="page-item {{currentPage === totalPages?'disabled':''}}">
                    <a class="page-link d-flex align-middle" href="#" ng-click="currentPage = currentPage + 1"><span
                            class="material-symbols-outlined">
                            chevron_right
                        </span></a>
                </li>
            </ul>
            <div class="d-flex align-items-center ms-3">
                <select class="form-select" id="pageSize" ng-model="pageSize"
                    ng-change="limitPage(filteredDeliveryNotes)">
                    <option value="5">5 dòng</option>
                    <option value="10">10 dòng</option>
                    <option value="20">20 dòng</option>
                    <option value="50">50 dòng</option>
                </select>
            </div>
        </div>
        <div class="table-responsive rounded" style="max-height: 550px;
    overflow: auto;">
            <table class="table table-hover table-striped">
                <thead class="table-light sticky">
                    <tr>
                        <td class="py-4 text-truncate"><small>Mã phiếu nhập</small></td>
                        <td class="py-4 text-truncate name-col"><small>Người lập phiếu</small></td>
                        <td class="py-4 text-truncate name-col"><small>Ngày tạo</small></td>
                        <td class="py-4 text-truncate"><small>Ngày nhập</small></td>
                        <td class="py-4 text-truncate ms-auto"><small>Số mặt hàng</small></td>
                        <td class="py-4 text-truncate"><small class="float-end">Tổng tiền</small></td>
                        <td class="py-4 text-truncate"><small>Trạng thái</small></td>
                        <td class="py-4 text-truncate"><small>Chi tiết</small></td>
                    </tr>
                </thead>
                <tbody class="bg-white">

                    <tr ng-repeat="row in filteredDeliveryNotes">
                        <td class="sticky align-middle">
                            <b>{{row.id}}</b>
                        </td>
                        <td class="align-middle">
                            <div class="d-flex align-middle">
                                <span class=" text-truncate">{{row.employeeName}}</span>
                                <small class="text-muted text-truncate ms-2">ID: {{row.employeeId}}</small>
                            </div>
                        </td>
                        <td class="sticky align-middle">
                            <span class="d-flex align-middle text-truncate">
                                <span class="material-symbols-outlined me-1 text-muted">
                                    History
                                </span>
                                {{row.timeCreate| date:'dd / MM / yyyy'}}
                            </span>
                        </td>
                        <td class="align-middle">
                            <span class="d-flex align-middle">
                                <span class="material-symbols-outlined me-1 text-muted">
                                    schedule
                                </span>
                                {{row.timeCompleted==null?'--/--/----':row.timeCompleted | date:'dd / MM / yyyy'}}
                            </span>
                        </td>
                        <td class="align-middle">
                            <span class="float-end">{{row.productCount}}</span>
                        </td>
                        <td class="align-middle">
                            <span class="float-end">{{row.totalAmount | currency:'₫':'0'}}</span>
                        </td>
                        <td class="align-middle">
                            <div
                                class="badge rounded-pill text-bg-{{row.status=='Chờ nhập'?'warning':(row.status=='Đang kiểm'?'primary':'success')}}">
                                {{row.status}}</div>
                        </td>
                        <td class="bg-white align-middle">
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#deliveryDetailModal"
                                ng-click="getDetailDeliveryNote(row)"><span
                                    class="material-symbols-outlined text-primary">
                                    Info
                                </span></button>
                            <div class="btn-group dropstart {{row.status=='Chờ nhập'?'':'visually-hidden'}}">
                                <button class="btn rounded-pill" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="material-symbols-outlined text-primary">
                                        more_vert
                                    </span>
                                </button>
                                <ul class="dropdown-menu rounded-4 bg-light">
                                    <li>
                                        <a class="btn p-2 d-flex align-middle" ng-click="editDeliveryNote(row)">
                                            <span class="material-symbols-outlined text-primary me-2">
                                                edit_note
                                            </span>
                                            <small>Thay đổi</small>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="btn p-2 d-flex align-middle" ng-click="deleteDeliveryNote(row)">
                                            <span class="material-symbols-outlined text-primary me-2">
                                                delete
                                            </span>
                                            <small>Xóa phiếu</small>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>