<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/pages/sell/layout:: dynamic(~{:: title}, ~{:: #uiProduct})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BachHoa | Tra cứu thông tin sản phẩm</title>
</head>

<body>
    <div id="uiProduct" ng-controller="product-ctrl" style="height: 100%;">
        <header th:replace="~{/pages/sell/_header}"></header>
        <main th:replace="~{/pages/sell/product/_productDetail}"></main>
        <!-- js -->
        <script src="../js/sell/productInf.js"></script>
    </div>

</body>

</html>