<div class="offcanvas offcanvas-end" tabindex="-1" id="createForm" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <div>
            <h5 class="offcanvas-title fw-bold text-truncate flex-grow-1" id="staticBackdropLabel">
                {{feature==='create'?'Sản phẩm mới':form.productName}}
            </h5>
            <small ng-if="feature==='update'">{{form.productID}}</small>
        </div>

        <input type="checkbox" class="btn-check " id="btn-check-outlined" autocomplete="off" ng-model="form.status">
        <label class="btn btn-outline-success btn-sm btn-warning rounded-pill" data-bs-toggle="tooltip"
            data-bs-placement="bottom" data-bs-title="Thay đổi trạng thái sản phẩm"
            for="btn-check-outlined">{{form.status==true?'Đang
            bán':'Ngừng
            kinh
            doanh'}}</label>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body bg-light p-4 rounded">
        <form enctype="multipart/form-data">
            <!-- <div class="row g-3">
                <div class="rounded bg-white col">
                    <img src="{{employee.pictureURL}}" class="mt-2 card-img-top" alt="..." id="img-preview">
                    <input id="uploadImage" type="file" name="file" accept="image/*" hidden>
                    <label for="uploadImage" class="d-flex justify-content-center"><i
                            class="bi bi-camera fs-3"></i></label>
                </div>
                <div class="col"></div>
            </div> -->
            <div class="my-3">
                <label for="inputEmail4" class="form-label disabled">Mã sản phẩm</label>
                <input ng-model="form.productID" class="form-control">
            </div>
            <div class="my-3">
                <label for="inputPassword4" class="form-label">Tên sản phẩm</label>
                <input ng-model="form.productName" class="form-control">
            </div>
            <div class="my-3">
                <label for="inputAddress" class="form-label">Phân loại</label>
                <select ng-model="form.categories.categoriesID" class="form-select">
                    <option ng-repeat="c in categories" ng-value="c.categoriesID">{{c.categoriesName}}
                    </option>
                </select>
            </div>
            <div class="my-3">
                <label for="inputAddress2" class="form-label">Đơn giá bán</label>
                <input ng-model="form.price" type="number" min="0" class="form-control">
            </div>
            <div class="my-3">
                <label for="inputCity" class="form-label">Đơn giá nhập hàng</label>
                <input ng-model="form.importPrice" type="number" min="0" class="form-control">
            </div>
            <div class="my-3">
                <label for="inputState" class="form-label">Số lượng tồn kho hiện tại</label>
                <input ng-model="form.inventory" type="number" min="0" class="form-control">
            </div>
            <div class="my-3">
                <label for="inputZip" class="form-label">VAT</label>
                <input ng-model="form.vat" type="number" min="0" class="form-control">
            </div>
            <div class="my-3">
                <label for="inputZip" class="form-label">Ngày hết hạn gần nhất</label>
                <input ng-model="form.nearestExpDate" class="form-control" type="date">
            </div>
            <div class="vstack gap-2 col-md-5 w-100">
                <button ng-if="feature==='create'" ng-click="create()" class="btn btn-primary rounded-3"
                    data-bs-dismiss="offcanvas">
                    <i class="fas fa-plus"></i> Thêm
                </button>
                <button ng-if="feature==='update'" ng-click="update()" class="btn btn-primary rounded-3"
                    data-bs-dismiss="offcanvas">
                    <i class="fas fa-rotate"></i> Lưu
                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Đóng</button>
            </div>

        </form>
    </div>
</div>