<!-- DataTales Example -->
<div class="overflow-auto">
    <table class="table table-bordered w-100 table-responsive" id="dataTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th>Mã</th>
            <th>Tên</th>
            <th>Loại</th>
            <th>Giá</th>
            <th>VAT</th>
            <th>Tồn kho</th>
            <th>Hạn sử dụng gần nhất</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pro in items | startFrom:currentPage*pageSize | limitTo:pageSize">
            <th scope="row">{{$index+1+currentPage*pageSize}}</th>
            <td>{{pro.productID}}</td>
            <td>{{pro.productName}}</td>
            <td>{{pro.categories.categoriesName}}</td>
            <td>{{pro.price}}</td>
            <td>{{pro.vat}} %</td>
            <td>{{pro.inventory}}</td>
            <td>{{pro.nearestExpDate | date:'dd-MM-yyyy'}}</td>
            <td>
                <button class="btn btn-dark" ng-click="edit(pro)">Edit</button>
                <button class="btn btn-danger" ng-click="delete(pro.productID)">Del</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>