<div class="p-4">
    <div class="input-group rounded-4">
        <span class="input-group-text bg-white border-end-0 pe-0" id="search-icon"><span
                class="material-symbols-outlined">
                search
            </span></span>
        <div class="form-floating">
            <input id="floatingInput" type="search" ng-model="query" ng-change="search(query)"
                class="form-control border-start-0" placeholder="Nhập tên, mã, giá hoặc VAT để tìm sản phẩm"
                title="Search here">
            <label class="text-muted" for="floatingInput">Lọc theo từ khóa</label>
        </div>
    </div>
    <div class="table-responsive rounded" style="max-height: 550px;
    overflow: auto;">
        <table class="table table-hover">
            <thead class="table-light sticky">
                <tr>
                    <td class="py-4 order-col"><small>#</small></td>
                    <td class="py-4 name-col text-center"> <small>Sản phẩm</small></td>
                    <td class="py-4 "><small>Phân loại</small></td>
                    <td class="py-4 "><small>Đơn giá bán</small></td>
                    <td class="py-4 "><small>Đơn giá nhập</small></td>
                    <td class="py-4 "><small>VAT</small></td>
                    <td class="py-4 "><small>Số lượng tồn kho</small></td>
                    <td class="py-4 "><small>Hạn sử dụng gần nhất</small></td>
                    <td class="py-4 "><small>Trạng thái</small></td>
                    <td class="py-4"></td>
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr ng-repeat="pro in items | startFrom:currentPage*pageSize | limitTo:pageSize"
                    class="{{pro.status?'':'text-muted bg-light'}}">
                    <td class="sticky order-col align-middle" scope="row">{{$index+1+currentPage*pageSize}}
                    </td>
                    <td class="align-middle">
                        <div class="h-100 d-flex ">
                            <img class="bg-light border rounded mx-2" style="height: 50px; width: 50px;"
                                src="{{pro.image==null?DEFAULT_PRODUCT_IMAGE:getImage(pro.image)}}" alt="...">
                            <span class="d-grid">
                                <b class="text-truncate" title="{{pro.productName}}">{{pro.productName}}</b>
                                <span class="text-muted">{{pro.productID}}</span>
                            </span>
                        </div>
                    </td>
                    <td class="align-middle">
                        <span>{{pro.categories.categoriesName}}</span>
                    </td>
                    <td class="align-middle">
                        <span>{{pro.price}} VND</span>
                    </td>
                    <td class="align-middle">
                        <span>{{pro.importPrice}} VND</span>
                    </td>
                    <td class="align-middle">
                        <span>{{pro.vat}}%</span>
                    </td>
                    <td class="align-middle">
                        <span>{{pro.inventory}}</span>
                    </td>
                    <td class="align-middle">
                        <div class="d-grid text-center">
                            <span>{{(pro.nearestExpDate | date:'dd-MM-yyyy')}}</span>
                            <span
                                class=" text-{{(
                                calculateDaysRemaining(pro.nearestExpDate) <= 0 ? 'dark' : calculateDaysRemaining(pro.nearestExpDate) > 30 ? 'success': 'warning')}}">
                                {{calculateDaysRemaining(pro.nearestExpDate) <= 0 ? 'Đã hết hạn' : "Còn " +
                                    calculateDaysRemaining(pro.nearestExpDate)+" ngày" }} </span>
                        </div>
                    </td>
                    <td class="align-middle">
                        <div class="badge rounded-pill text-bg-{{pro.status?'success':'warning'}}">{{pro.status?'Đang
                            bán':'Ngừng kinh
                            doanh'}}</div>
                    </td>
                    <td class="sticky align-middle">
                        <div class="btn-group dropstart">
                            <button class="btn d-flex align-items-center rounded-pill" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="material-symbols-outlined text-primary">
                                    more_vert
                                </span>
                            </button>
                            <ul class="dropdown-menu rounded-4 bg-light">
                                <li>
                                    <a class="btn p-2 d-flex align-middle" data-bs-toggle="offcanvas"
                                        data-bs-target="#createForm" aria-controls="offcanvasExample"
                                        ng-click="edit(pro)">
                                        <span class="material-symbols-outlined text-primary me-2">
                                            edit
                                        </span>
                                        <small>Sửa thông tin</small>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="btn p-2 d-flex align-middle" ng-click="changeStatus(pro)">
                                        <span class="material-symbols-outlined text-primary me-2">
                                            {{pro.status?'archive':'unarchive'}}
                                        </span>
                                        <small>{{pro.status?'Ngừng kinh doanh':'Bán lại'}}</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <!-- Display message if no matching products found -->
                <td colspan="11" ng-if="items.length === 0" class="my-3 text-danger">
                    Không tìm thấy sản phẩm trùng khớp.
                </td>
            </tbody>
        </table>

    </div>
    <div class="sticky-footer mt-3">
        <div class="float-start">
            Trang {{currentPage+1}} trên {{numberOfPages()}} trang
        </div>

        <div class="float-end">
            <div th:replace="~{/partials/_pagination}"></div>
        </div>
    </div>
</div>