<div class="card card-rounded">
    <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
            <div>
                <h4 class="card-title card-title-dash">Danh sách sản phẩm</h4>
                <p class="card-subtitle card-subtitle-dash">Tổng cộng <b>{{items.length}}</b> mặt hàng đã và đang
                    được bày
                    bán</p>
            </div>
            <div>
                <button ng-click="reset()" class="btn btn-primary rounded-pill btn-md text-white mb-0 me-0"
                    data-bs-toggle="modal" data-bs-target="#productModal">Thêm sản phẩm mới</button>
            </div>
        </div>
        <form class="search-form" action="#">
            <input type="text" ng-model="query" ng-change="search(query)" class="form-control" placeholder="Search Here"
                title="Search here">
        </form>
        <div id="list-product" class="table-responsive  mt-1">
            <table class="table select-table">
                <thead>
                    <tr>
                        <th class="sticky order-col bg-white">#</th>
                        <th class="sticky name-col bg-white">Sản phẩm</th>
                        <th class="sticky bg-white">Phân loại</th>
                        <th class="sticky bg-white">Đơn giá bán</th>
                        <th class="sticky bg-white">Đơn giá nhập</th>
                        <th class="sticky bg-white">VAT</th>
                        <th class="sticky bg-white">Số lượng tồn kho</th>
                        <th class="sticky bg-white">Hạn sử dụng gần nhất</th>
                        <th class="sticky bg-white">Trạng thái</th>
                        <th class="sticky function-col bg-white"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="pro in items | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td class="sticky order-col bg-white" scope="row">{{$index+1+currentPage*pageSize}}</td>
                        <td class="sticky name-col bg-white">
                            <div class="d-flex">
                                <img src="{{pro.image==null?DEFAULT_PRODUCT_IMAGE:pro.image}}" alt="">
                                <div>
                                    <h6>{{pro.productName}}</h6>
                                    <p>{{pro.productID}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h6>{{pro.categories.categoriesName}}</h6>
                        </td>
                        <td>
                            <h6>{{pro.price}}</h6>
                        </td>
                        <td>
                            <h6>{{pro.importPrice}}</h6>
                        </td>
                        <td>
                            <h6>{{pro.vat}} %</h6>
                        </td>
                        <td>
                            <h6>{{pro.inventory}}</h6>
                        </td>
                        <td>
                            <div>
                                <div
                                    class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                    <p class="text-success">Còn {{pro.nearestExpDate - today}} ngày</p>
                                </div>
                                <div class="progress progress-md">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 65%"
                                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>HSD: {{pro.nearestExpDate| date:'dd/MM/yyyy'}}</p>
                            </div>
                        </td>
                        <td>
                            <div class="badge badge-opacity-{{pro.status?'success':'warning'}}">{{pro.status?'Đang
                                bán':'Ngừng kinh doanh'}}</div>
                        </td>
                        <td class="sticky function-col bg-white">
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#productModal"
                                ng-click="edit(pro)"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="btn" ng-click="delete(pro.productID)"><i
                                    class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="sticky-footer mt-3">
            <div class="float-start">
                Trang {{currentPage+1}} trên {{numberOfPages()}} trang
            </div>

            <div class="float-end">
                <div th:replace="~{/pages/admin/product/_pagination}"></div>
            </div>
        </div>
    </div>
</div>