<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/pages/admin/layout:: dynamic(~{::body})}">

<head>
    <title>Product</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body ng-app="app" ng-controller="ctrl">
    <div class="d-sm-flex align-items-center justify-content-between align-items-start border border-bottom border-2 p-4 py-3 bg-light"
        style="border-radius: 1rem 1rem 0 0;">
        <div>
            <b class="fs-4">Sản phẩm</b><br>
            <small class="text-muted">Tổng cộng <b>{{items.length}}</b> mặt hàng đã và đang được
                bày bán</nmal>
        </div>
        <button ng-click="reset()" class="btn btn-primary rounded-pill d-flex align-middle p-2 px-3"
            data-bs-toggle="modal" data-bs-target="#productModal"><span class="material-symbols-outlined me-2">
                add_box
            </span> Thêm sản phẩm mới</button>
    </div>
    <main class="overflow-auto flex-grow-1 bg-light border border-top-0 border-2" style="border-radius: 0 0 1rem 1rem;">
        <div th:replace=" ~{/pages/admin/product/_list}">
        </div>
        <div th:replace="~{/pages/admin/product/_form}"></div>

    </main>

    <script src="/js/product-ctrl.js"></script>
</body>