<div class="topbar bg-light d-flex align-middle justify-content-between">
    <button id="sidebarCollapse" class="btn d-flex align-items-center">
        <span class="material-symbols-outlined text-primary">
            left_panel_close
        </span>
    </button>
    <b class="my-auto text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="This top tooltip is themed via CSS variables.">{{account.store.storeName}}</b>
    <a class="btn position-relative d-flex align-items-center rounded m-3 me-0" title="Nhấn để kiểm tra đơn xin việc"
        data-bs-toggle="modal" data-bs-target="#DonXinViec">
        <span class="material-symbols-outlined text-primary">
            inbox
        </span> <small class="position-absolute top-0 start-25 translate-middle badge rounded-pill bg-danger">
            {{emRequest.length}}
        </small>
    </a>
</div>
<div th:replace="~{/pages/admin/employee/_formAcceptRequest}"></div>