<div class="topbar bg-light d-flex align-middle justify-content-between">
    <button id="sidebarCollapse" class="btn d-flex align-items-center">
        <span class="material-symbols-outlined text-primary">
            left_panel_close
        </span>
    </button>
    <b class="my-auto text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="This top tooltip is themed via CSS variables.">{{account.store.storeName}}</b>
    <a class="btn position-relative d-flex align-items-center rounded m-3 me-0" title="Nhấn để kiểm tra đơn xin việc"
        data-bs-toggle="modal" data-bs-target="#DonXinViec">
        <span class="material-symbols-outlined text-primary">
            inbox
        </span> <small class="position-absolute top-0 start-25 translate-middle badge rounded-pill bg-danger">
            9
        </small>
    </a>
</div>
<!-- Modal -->
<div class="modal fade" id="DonXinViec" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg m-4">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đơn xin việc <i
                        class="bi bi-person-lines-fill ms-2 fs-4"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="list - employee" class="table-responsive  mt-1">
                    <table class="table select-table">
                        <thead>
                            <tr>
                                <th class="sticky order-col bg-white">#</th>
                                <th class="sticky name-col bg-white">Mã Nhân Viên</th>
                                <th class="sticky bg-white">Tên Nhân Viên</th>
                                <th class="sticky bg-white">Ngày xin việc</th>
                                <th class="sticky bg-white">Email</th>
                                <th class="sticky bg-white">Trạng thái chờ</th>
                                <th class="sticky function-col bg-white"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="e in employees">
                                <td class="sticky order-col bg-white" scope="row">
                                    {{$index+1+currentPage*pageSize}}</td>
                                <td class="sticky name-col bg-white">
                                    <div class="d-flex">
                                        <img src="{{e.image==null?DEFAULT_PRODUCT_IMAGE:pro.image}}" alt="">
                                        <div>
                                            <h6>{{e.employeeID}}</h6>
                                            <p>{{e.employeeName}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h6>{{e.address}}</h6>
                                </td>
                                <td>
                                    <h6>{{e.firstWork}}</h6>
                                </td>
                                <td>
                                    <h6>{{e.email}}</h6>
                                </td>
                                <td>
                                    <h6>Đang chờ duyệt</h6>
                                </td>

                                <td class="sticky function-col bg-white">
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#employeeModal"><i
                                            class="bi bi-check"></i>
                                    </button>
                                    <button class="btn" ng-click="delete(e.employeeID)">
                                        <i class="bi bi-person-x"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="sticky-footer mt-3">
                    <div class="float-start">
                        Trang {{currentPage+1}} trên {{numberOfPages()}} trang
                    </div>

                    <div class="float-end">
                        <div th:replace="~{/pages/admin/employee/_pagination}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>