<div class="col-md-12 col-xl-2 p-0 m-0 d-flex">
  <div
    class="border-end bg-light ps-3 d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-xl-start text-white">
    <a href="/admin/dashboard"
      class="logo w-100 bg-light d-flex align-items-center mb-md-0 mx-xl-auto text-white text-decoration-none">

      <img class="h-100 mx-auto" src="/images/logo3-removebg.png" alt="">
    </a>
    <ul id="itemsSideBar"
      class="w-100 fs-6 list-group list-group-flush flex-xl-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto">
      <a href="/admin/dashboard" class="list-group-item list-group-item-action list-group-item-light py-3 ps-4">
        <i class="fa-solid fa-chart-line fa-xl"></i><span class="ms-3 d-none d-xl-inline">Thống kê</span> </a>
      <a href="/admin/product" class="list-group-item list-group-item-action list-group-item-light py-3 ps-4">
        <i class="fa-solid fa-box fa-xl"></i></i><span class="ms-3 d-none d-xl-inline">Sản phẩm</span></a>
      <a href="/admin/discount" class="list-group-item list-group-item-action list-group-item-light py-3 ps-4">
        <i class="fa-solid fa-tags fa-xl"></i><span class="ms-3 d-none d-xl-inline">Khuyễn mãi</span></a>
      <a href="/admin/employee" class="list-group-item list-group-item-action list-group-item-light py-3 ps-4">
        <i class="fa-solid fa-users"></i><span class="ms-3 d-none d-xl-inline">Nhân sự</span>
      </a>
      <a href="/admin/bill" class="list-group-item list-group-item-action list-group-item-light py-3 ps-4">
        <i class="fa-solid fa-file-invoice-dollar fa-xl"></i><span class="ms-3 d-none d-xl-inline">Hóa đơn</span></a>
      <a href="/admin/import-inventory"
        class="w-100 list-group-item list-group-item-action list-group-item-light py-3 ps-4">
        <i class="fa-solid fa-warehouse"></i><span class="ms-3 d-none d-xl-inline">Lịch sử nhập kho</span>
      </a>
      <a href="/admin/check-inventory"
        class="w-100 list-group-item list-group-item-action list-group-item-light py-3 ps-4">
        <i class="fa-solid fa-clipboard-check fa-xl"></i><span class="ms-3 d-none d-xl-inline">Lịch sử kiểm kho</span>
      </a>
      <a href="/admin/lost" class="list-group-item list-group-item-action list-group-item-light py-3 ps-4">
        <i class="fa-regular fa-file-lines fa-xl"></i><span class="ms-3 d-none d-xl-inline">Mất mát </span>
      </a>
    </ul>
    <div class="dropdown w-100 py-sm-4 ps-3 mt-sm-auto ms-sm-0 flex-shrink-1">
      <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1">{{account.employeeName}}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="/sell">Bán hàng</a></li>
        <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
        <li><a class="dropdown-item" href="#">Hồ sơ cá nhân</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
</div>
<p id="accountEmail" ng-hide="true">[[${#httpServletRequest.remoteUser}]]</p>