<div id="sidebar" class="vh-100 ps-0 d-flex flex-column">
  <a href="/" class="logo d-flex align-items-center link-dark text-decoration-none border-bottom">
    <img class="h-100 mx-auto" src="/images/logo3-removebg.png" alt="">
    <!-- <h4 class="fw-bold ms-3 menu-collapsed text-truncate">BachHoa</h4> -->
  </a>
  <ul class="ms-0 px-2 overflow-auto">
    <li data-bs-toggle="collapse" data-bs-target="#statistic-collapse" aria-expanded="true"
      class="text-muted mt-3 d-flex align-items-center">
      <small class="menu-collapsed me-auto text-truncate"><small>PHÂN TÍCH</small></small>
      <span class="material-symbols-outlined text-white">
        expand_more
      </span>
    </li>
    <div class="collapse show" id="statistic-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <a href="/admin/dashboard"
          class="btn my-1 rounded-3 d-flex align-items-center {{menu==='thongke'?' text-white bg-primary':''}}">
          <span class="material-symbols-outlined text-{{menu==='thongke'?'white':'primary'}}">
            finance
          </span>
          <span class="menu-collapsed ms-2  text-truncate">Thống kê</span>
        </a>
      </ul>
    </div>

    <li data-bs-toggle="collapse" data-bs-target="#sell-collapse" aria-expanded="true"
      class="text-muted mt-3 d-flex align-items-center">
      <small class="menu-collapsed me-auto text-truncate"><small>BÁN HÀNG</small></small>
      <span class="material-symbols-outlined text-white">
        expand_more
      </span>
    </li>
    <div class="collapse show" id="sell-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <a href="/admin/product"
          class="btn my-1 rounded-3 d-flex align-items-center {{menu==='sanpham'?' text-white bg-primary':''}}">
          <span class="material-symbols-outlined text-{{menu==='sanpham'?'white':'primary'}} ">
            package_2
          </span><span class="menu-collapsed ms-2 text-truncate">Sản phẩm</span></a>
        <a href="/admin/discount"
          class="btn my-1 rounded-3 d-flex align-items-center {{menu==='khuyenmai'?' text-white bg-primary':''}}">
          <span class="material-symbols-outlined text-{{menu==='khuyenmai'?'white':'primary'}}">
            sell
          </span><span class="menu-collapsed ms-2 text-truncate">Khuyến mãi</span></a>
        <a href="/admin/bill-history"
          class="btn my-1 rounded-3 d-flex align-items-center {{menu==='hoadon'?' text-white bg-primary':''}}">
          <span class="material-symbols-outlined text-{{menu==='hoadon'?'white':'primary'}}">
            receipt_long
          </span><span class="menu-collapsed ms-2 text-truncate">Hóa đơn</span></a>
        <a href="/admin/payment-history"
          class="btn my-1 rounded-3 d-flex align-items-center {{menu==='thutien'?' text-white bg-primary':''}}">
          <span class="material-symbols-outlined text-{{menu==='thutien'?'white':'primary'}}">
            payments
          </span><span class="menu-collapsed ms-2 text-truncate">Thu tiền</span>
        </a>
      </ul>
    </div>

    <li data-bs-toggle="collapse" data-bs-target="#inventory-collapse" aria-expanded="true"
      class="text-muted mt-3 d-flex align-items-center ">
      <small class="menu-collapsed me-auto text-truncate"><small>KHO BÃI</small></small>
      <span class="material-symbols-outlined text-white">
        expand_more
      </span>
    </li>
    <div class="collapse show" id="inventory-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <a href="/admin/import-product"
          class="btn my-1 rounded-3 d-flex align-items-center {{menu==='nhaphang'?' text-white bg-primary':''}}">
          <span class="material-symbols-outlined text-{{menu==='nhaphang'?'white':'primary'}}">
            warehouse
          </span><span class="menu-collapsed ms-2 text-truncate">Nhập hàng</span>
        </a>
        <a href="/admin/inventory-history"
          class="btn my-1 rounded-3 d-flex align-items-center {{menu==='kiemkho'?' text-white bg-primary':''}}">
          <span class="material-symbols-outlined text-{{menu==='kiemkho'?'white':'primary'}}">
            assignment_turned_in
          </span><span class="menu-collapsed ms-2 text-truncate">Kiểm kho</span>
        </a>
      </ul>
    </div>

    <li data-bs-toggle="collapse" data-bs-target="#person-collapse" aria-expanded="true"
      class="text-muted mt-3 d-flex align-items-center ">
      <small class="menu-collapsed me-auto text-truncate"><small>NHÂN SỰ</small></small>
      <span class="material-symbols-outlined text-white">
        expand_more
      </span>
    </li>
    <div class="collapse show" id="person-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <a href="/admin/employee"
          class="btn my-1 rounded-3 d-flex align-items-center {{menu==='nhansu'?' text-white bg-primary':''}}">
          <span class="material-symbols-outlined text-{{menu==='nhansu'?'white':'primary'}}">
            groups
          </span><span class="menu-collapsed ms-2 text-truncate">Nhân sự</span>
        </a>
      </ul>
    </div>

  </ul>

  <div class="flex-grow-1"></div>
  <div class="account dropdown py-sm-4 px-3 border-top mt-auto">
    <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="../bachhoaimg/avatar5-min.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
      <span class="d-none d-sm-inline ms-2 text-truncate fw-bold">{{account.employeeName}}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="/sell">Bán hàng</a></li>
      <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
      <li><a class="dropdown-item" href="#">Hồ sơ cá nhân</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
    </ul>
  </div>
</div>

<script>
  // Add Bootstrap's collapse functionality to the sidebar
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
      $('.menu-collapsed').toggleClass('d-none');
    });
  });
</script>