table {
    text-align: left;
    position: relative;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
}

th {
    top: 0;
    z-index: 1;
}

.order-col {
    left: 0;
    text-align: right;
}

.name-col {
    left: 20px;
}

.function-col {
    right: 0;
}

#list-product {
    max-height: 50vh;
    overflow: auto;
}

/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}