/* Form for Manager want to create store */
.container-ql, .container-nv {
	display: flex;
	width: 35.5rem;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
}

.left-s {
	width: 70%;
	height: 100%;
}

.right-s {
	width: 30%;
	height: 100%;
}

.QL-form {
	backdrop-filter: blur(20px);
}

.QL-form::before {
	position: absolute;
	content: "";
	width: 40%;
	height: 40%;
	right: 1%;
	z-index: -1;
	background: radial-gradient(circle, rgb(194, 13, 170) 20%,
		rgb(26, 186, 235) 60%, rgb(26, 186, 235) 100%);
	filter: blur(70px);
	border-radius: 50%;
}

/* Form For Staffs Registered */
.left-a {
	width: 30%;
	height: 100%;
}

.right-a {
	width: 70%;
	height: 100%;
}

.NV-form {
	backdrop-filter: blur(20px);
	padding-left: 0;
}

.NV-form::before {
	position: absolute;
	content: "";
	width: 40%;
	height: 40%;
	left: 1%;
	z-index: -1;
	background: radial-gradient(circle, rgb(110 66 207) 20%, rgb(26 235 46) 60%, rgb(93 233 168) 100%);
	filter: blur(70px);
	border-radius: 50%;
}

/* IMG and after (shape of circle) */
.img {
	width: 100%;
	height: 100%;
}

.container-ql::after {
	position: absolute;
	content: "";
	width: 77%;
	height: 102%;
	right: -41%;
	background: rgb(157, 173, 203);
	background: radial-gradient(circle, rgba(157, 173, 203, 1) 61%,
		rgba(99, 122, 159, 1) 100%);
	border-radius: 50%;
	z-index: -1;
}

.container-nv::after {
	position: absolute;
	content: "";
	width: 94%;
	height: 100%;
	left: -41%;
	background: rgb(158, 203, 157);
	background: radial-gradient(circle, rgb(158 203 157) 61%, rgb(99 159 118) 100%);
	border-radius: 50%;
	z-index: -1;
}