body,
html {
    height: 100%;
}

.form, .registration-form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    min-width: auto;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
}

.input-container input,
.form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}

/* Background behind the login form */
.background-img {
    background: url("../images/auth/login-bg.jpg") ;
    background-size: cover;
    backdrop-filter: blur(3px);
}

/* Button */
.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
}

.button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* Toggle Switch */
.registration-form {
    min-width: auto;
    height: 360.5px;
    display: none;
}

/* Nút trở về trang chủ */
.back_home {
	margin: 0 0 0 20px;
	padding-top: 20px !important;
}
.back_home button {
  font-family: inherit;
  font-size: 20px;
  background: #097969;
  color: #F6FFF1;
  padding: 0.7em 1em;
  padding-left: 0.6em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.back_home button span {
  display: block;
  margin-left: 0.5em;
  transition: all 0.3s ease-in-out;
}

.back_home button i {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.back_home button:hover .icon-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.back_home button:hover i {
  transform: translateX(0.5em) rotate(45deg) scale(1.1);
}

.back_home button:hover span {
  transform: scale(0.85);
}

.back_home button:active {
  transform: scale(0.95);
}