header {
  background-color: #F4F5F7;
  padding: 0 2%;
}

.menuHidden {
  display: none;
}

.logo a {
  color: rgb(7, 31, 137);
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 0.75rem 1rem;
  text-align: justify;
  height: 100%;
}

.tab-pane {
  height: 490px;
}

a {
  text-decoration: none;
}

.number-control {
  display: flex;
  align-items: center;
}

.number-left,
.number-right{
  background-color: rgb(122, 231, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: black;
  transition: background-color 0.3s;
  cursor: pointer;
  height: 1.5rem;
}
/* 
.number-left::before {
  content: "-";
}

.number-right::after {
  content: "+";
} */

.number-quantity {
  border: 0;
  width: 50px;
  -moz-appearance: textfield;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.number-left:hover,
.number-right:hover {
  background-color: #666666;
  color: white;
}

#slsp::-webkit-outer-spin-button,
#slsp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 700px) {

  .username,
  .logo,
  .storeAddress,
  .menu {
    display: none;
  }

  .account {
    display: flex;
    justify-content: end;
  }

  .menuHidden {
    display: block;
  }
}