header {
  background-color: #F4F5F7;
  padding: 0 2%;
}

.menuHiden{
  display: none;
}

.logo a {
  color: rgb(7, 31, 137);
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 0.75rem 1rem;
  text-align: justify;
  min-height: 500px;
}

.tab-pane{
  height: 456px;
}

a {
  text-decoration: none;
}

/* .tab-content.tab-content-vertical {
  border-top: 1px solid #dee2e6;
}

.tab-content.tab-content-vertical-custom {
  border: 0;
  padding-top: 0;
}

.tab-content.tab-content-custom-pill {
  border: 0;
  padding-left: 0;
} */

@media (max-width: 700px) {

  .username,
  .logo,
  .storeAddress,
  .menu {
    display: none;
  }

  .account {
    display: flex;
    justify-content: end;
  }

  .menuHiden {
    display: block;
  }
}