header {
  background-color: #F4F5F7;
  padding: 0.5% 2%;
}

.logo a {
  color: rgb(7, 31, 137);
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 0.75rem 1rem;
  text-align: justify;
}

.tab {
  background-color: #c9e4ff;
}

a {
  text-decoration: none;
}

/* .tab-content.tab-content-vertical {
  border-top: 1px solid #dee2e6;
}

.tab-content.tab-content-vertical-custom {
  border: 0;
  padding-top: 0;
}

.tab-content.tab-content-custom-pill {
  border: 0;
  padding-left: 0;
} */

/* @media (max-width: 700px) {

  .username,
  .welcome {
    display: none;
  }
} */