/* Info Toast */
.info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #D7F1FD;
    border-radius: 8px;
    border: 1px solid #509AF8;
    box-shadow: 0px 0px 5px -3px #111;
}

.info__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.info__icon path {
    fill: #509AF8;
}

.info__title {
    font-weight: 500;
    font-size: 14px;
    color: #0C2A75;
}

.info__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.info__close path {
    fill: #0C2A75;
}

/* Success Toast */
.success {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EDFBD8;
    border-radius: 8px;
    border: 1px solid #84D65A;
    box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.success__icon path {
    fill: #84D65A;
}

.success__title {
    font-weight: 500;
    font-size: 14px;
    color: #2B641E;
}

.success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.success__close path {
    fill: #2B641E;
}

/* Error Toast */
.error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #FCE8DB;
    border: 1px solid #f75252;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.error__icon path {
    fill: #EF665B;
}

.error__title {
    font-weight: 500;
    font-size: 14px;
    color: #71192F;
}

.error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.error__close path {
    fill: #71192F;
}

/* Warning Toast */
.warning {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #FEF7D1;
    border: 1px solid #F7C752;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.warning__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.warning__icon path {
    fill: #F7C752;
}

.warning__title {
    font-weight: 500;
    font-size: 14px;
    color: #755118;
}

.warning__close {
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
}

.warning__close path {
    fill: #755118;
}

/* Thông số chung */
img , svg {
    vertical-align: sub !important;
}