<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập | BachHoa</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- endinject -->
    <link rel="shortcut icon" href="../../../static/images/favicon.png" />
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Angular-UI -->
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.0.js"></script>
    <!-- links to files of angular-ui-tab-scroll  -->
    <link rel="stylesheet" href="../css/vertical-layout-light/angular-ui-tab-scroll.css" />
    <script src="../js-work/angular-ui-tab-scroll.js"></script>
    <link rel="stylesheet" href="scss/angular-ui-tab-scroll.scss">
    <!-- CSS -->
    <link rel="stylesheet" href="../../../static/css/vertical-layout-light/login.css">
    <!-- JS -->
    <script src="../../../static/js-work/staff-ctrl.js"></script>
</head>

<body class="background-img">
    <div class="container-fluid d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <!-- <h3 class="d-flex justify-content-center text-bg-success w-25 rounded-pill p-2">BachHoa - Đăng nhập</h3> -->
        <div class="d-flex justify-content-center ">
            <div>
                <div class="logo img-fluid card-img">
                    <img src="../../../static/images/favicon.png" alt="" width="400px" class="rounded-start">
                </div>
            </div>
            <form class="form ">
                <p class="form-title">Chào mừng trở lại</p>
                <div class="input-container">
                    <input type="email" placeholder="Thư điện tử (Email) ..." class="shadow">
                    <span>
                    </span>
                </div>
                <div class="input-container">
                    <input type="password" placeholder="Mật khẩu ..." class="shadow">
                </div>
                <button type="submit" class="submit mt-5 button" >
                    Đăng nhập
                </button>

                <p class="signup-link mt-2">
                 <a href="" class="text-decoration-none"> Quên mật khẩu?</a>
               </p>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>