<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" ng-app="register-app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập | BachHoa</title>
    <!-- plugins -->
    <!-- Message - Alert - Toast -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- BS5 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- endinject -->
    <link rel="shortcut icon" href="../images/favicon.png" />
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Angular-UI -->
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.0.js"></script>
    <!-- links to files of angular-ui-tab-scroll  -->
    <link rel="stylesheet" href="../css/angular-ui-tab-scroll.css" />
    <script src="../js/angular-ui-tab-scroll.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/toast.css">
</head>

<body class="background-img" ng-controller="register-ctrl">
    <!-- Toast Thông báo -->
    <div th:classappend="*{Toast}" class="alert flash show" id="alert" role="alert" 
            style="position: fixed; right: 1%; top: 1%; z-index: 999;">
        <div th:classappend="${Toast_icon}" th:utext="${Toast_show_icon}">

        </div>
        <div th:classappend="${Toast_title}" th:text="${message}"></div>
        <div th:classappend="${Toast_close}" 
                type="button" id="alertClose" data-bs-dismiss="alert" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20"><path fill="#393a37" d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"></path></svg>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column min-vh-100 justify-content-center align-items-center">

        <div class="d-flex justify-content-center ">
            <div class="logo img-fluid card-img" id="logo">
                <img src="../images/favicon.png" alt="" width="352" height="auto" class="rounded-start">
            </div>
            <div class="d-block">
                <form action="/login" method="post" class="form" id="Login-form">
                    <p class="form-title mb-4">Chào mừng trở lại</p>
                    <div class="input-container input-group flex-nowrap">
                        <span class="input-group-text bg-white border-secondary border border-2">
                            <i class="bi bi-envelope-check-fill"></i>
                        </span>
                        <input type="email" placeholder="Thư điện tử (Email) ..."
                            class="shadow border border-2 border-secondary border-start-0" name="email" required>
                    </div>
                    <div class="input-container input-group flex-nowrap mt-3">
                        <span class="input-group-text bg-white border-secondary border border-2">
                            <i class="bi bi-shield-fill-check"></i>
                        </span>
                        <input type="password" placeholder="Mật khẩu ..."
                            class="shadow border border-2 border-secondary border-start-0" name="password" required>
                    </div>
                    <button type="submit" class="submit mt-4 button shadow-lg border border-1 border-dark">
                        Đăng nhập
                    </button>

                    <p class="signup-link mt-1 message">
                        <a href="#" class="text-decoration-none"> Quên mật khẩu?</a>
                    </p>
                    <div class="signup-link text-center border-top border-1 border-info p-2">
                        <span class="message-2">Chưa có tài khoản?<a href="#" class="text-decoration-none fw-bold ">
                                Đăng ký</a></span>
                    </div>
                </form>

                <form action="/regenerate-otp" class="QMK-form" method="post">
                    <h3 class="d-flex justify-content-center text-dark">
                        <p>Quên mật khẩu</p>
                    </h3>
                    <div class="input-container mt-4 input-group flex-nowrap">
                        <span class="input-group-text bg-white border-secondary border border-2">
                            <i class="bi bi-envelope-exclamation-fill"></i>
                        </span>
                        <input type="email" name="R_Email" placeholder="Thư điện tử (Email) ..."
                            class="shadow border border-2 border-secondary border-start-0" autofocus required>
                    </div>
                    <button type="submit" class="submit mt-5 button" value="Send">
                        Tiếp tục
                    </button>

                    <!-- button for toggle -->
                    <p class="signup-link mt-2 message">
                        Đã nhớ lại ?
                        <a href="#" class="text-decoration-none">Quay về đăng nhập</a>
                    </p>
                </form>

                <form action="" method="post" class="DK-form bg-gradient">
                    <div class="mt-2 img-fluid card-img d-flex justify-content-evenly align-items-center" id="logo">
                        <img src="../images/favicon.png" alt="" width="100" height="auto" class="rounded-4">
                        <h3 class="text-success text-center justify-content-center">
                           Chào mừng bạn đến với BachHoa
                        </h3>
                    </div>
                    
                    <h5 class="mt-4 text-center">
                        <span>Tạo tài khoản BachHoa</span>
                    </h5>
                    <div class="input-container mt-4 input-group flex-nowrap">
                        <span class="input-group-text bg-white border-secondary border border-2">
                            <i class="bi bi-type"></i>
                        </span>
                        <input type="text" name="FullName" placeholder="Họ và tên ..." 
                            ng-model="form.employeeName" autofocus required
                            class="shadow-lg w-100 border border-2 border-secondary border-start-0">
                    </div>
                    <div class="input-container mt-3 input-group flex-nowrap">
                        <span class="input-group-text bg-white border-secondary border border-2">
                            <i class="bi bi-envelope-at-fill"></i>
                        </span>
                        <input type="email" name="Email" placeholder="Thư điện tử (Email) ..."
                            ng-model="form.email" autofocus required
                            class="shadow-lg w-100 border border-2 border-secondary border-start-0">
                    </div>
                    <div class="input-container mt-3 input-group flex-nowrap">
                        <span class="input-group-text bg-white border-secondary border border-2">
                            <i class="bi bi-shield-lock-fill"></i>
                        </span>
                        <input type="password" name="Pass" placeholder="Mật khẩu ..."
                            ng-model="form.password" autofocus required
                            class="shadow-lg w-100 border border-2 border-secondary border-start-0" >
                    </div>
                    <div class="input-container mt-3 input-group flex-nowrap">
                        <span class="input-group-text bg-white border-secondary border border-2">
                            <i class="bi bi-shield-fill-check"></i>
                        </span>
                        <input type="password" name="S_Pass" placeholder="Xác nhận mật khẩu ..."
                            id="confirmPassword" autofocus required
                            class="shadow-lg w-100 border border-2 border-secondary border-start-0">
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="submit button w-25 rounded-pill" 
                                value="Send" ng-click="create()" type="button">
                            Đăng ký
                        </button>
                    </div>
                    <!-- button for toggle -->
                    <p class="signup-link mt-3 message-2">
                        <a href="#" class="text-decoration-none">Đã có tài khoản ?</a>
                    </p>
                </form>
            </div>

        </div>
    </div>
    <!-- JS -->
    <script src="../js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script>
		// toastInit();
        // Ẩn message theo giây
        window.setTimeout(function () {
            $(".flash")
                .animate(
                    {
                        top: "0",
                        opacity: "0",
                    },
                    300,
                    0
                )
                .fadeOut(500, function () {
                    $(this).remove();
                });
        }, 3000);
    </script>
</body>

</html>