<!doctype html>
<html lang="en">

<head>
    <title>Kiểm tra giá | BachHoa</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Angular-UI -->
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.0.js"></script>
    <!-- css -->
    <!-- <link rel="stylesheet" href="../css/style-sell.css">
    <link rel="stylesheet" href="../css/angular-ui-tab-scroll.css" />
    <link rel="stylesheet" href="../css/autoComplete.css"> -->
    <link rel="stylesheet" href="../css/style-sell.css">
    <link rel="stylesheet" href="../css/autoComplete.css">
</head>

<body ng-app="app-product">
    <header class="border-bottom">
        <div class="row align-items-center">
            <div class="welcome col">
                <button class="btn bg-info bg-gradient menu" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#menuHidden" aria-controls="menuHidden" title="Menu">
                    <i class="bi bi-list"></i>
                </button>
                <a class="menuHiden" data-bs-toggle="offcanvas" href="#menuHidden" role="button"
                    aria-controls="offcanvasExample">
                    <img src="../images/logo/logo3-removebg.png" alt="logo" style="width: 100px;">
                </a>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="menuHidden"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Chức năng</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                        <div class="list-group">
                            <a href="/sell" class="list-group-item list-group-item-action" aria-current="true">
                                Thanh toán
                            </a>
                            <a href="/sell/billsHistory" class="list-group-item list-group-item-action">Nhập trả hóa đơn</a>
                            <a href="/sell/productInfomation" class="list-group-item list-group-item-action  active">Kiểm tra giá</a>
                        </div>

                    </div>
                    <div class="offcanvas-footer text-center" style="padding: 1rem;">
                        <p>Cửa hàng:</p>
                        <p></p>
                        <p id="storeID" class="d-none">1</p>
                    </div>
                </div>
            </div>
            <div class="col logo text-center">
                <a href="/sell" class="text-decoration-none">
                    <img src="../images/logo/logo3-removebg.png" alt="logo" style="width: 100px;">
                </a>
            </div>
            <div class="col account">
                <div class="dropdown d-flex justify-content-end">
                    <a href="#" class="d-block link-dark text-decoration-none" id="acount" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="px-2 username">Đồng Võ Nghiệp</span>
                        <img src="../images/faces/face1.jpg" alt="mdo" width="32" height="32"
                            class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="acount">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="../images/faces/face1.jpg"
                                alt="Profile image">
                            <p class="mt-3 mb-1"><strong class="mb-1 mt-3">Đồng Võ Nghiệp</strong></p>
                            <p class="fw-light text-muted mb-0">[[${#httpServletRequest.remoteUser}]]</p>
                            <p class="d-none" id="employeeID">1</p>
                        </div>

                        <li><a class="dropdown-item" href="#">Hồ sơ cá nhân</a></li>
                        <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </header>

    <main ng-controller="productInf-ctrl">
        <div class="row p-0 m-0" style="min-height: 600px;">
            <div class="col-3 border" style="background-color: #F4F5F7; padding: 0px; height: 635px;">
                <div class="p-3">
                    <label for="" class="mb-2">Nhập mã (hoặc tên) sản phẩm</label><br>
                    <div class="autocomplete">
                        <input id="product" type="text" class="form-control" ng-model="value" ng-change="find(value)">
                    </div>
                </div>
            </div>
            <div class="col-9 p-4">
                <div class="text-center">
                    <h5>THÔNG TIN SẢN PHẨM</h5>
                </div>
                <div class="p-5 pt-2 pb-2">
                    <div class="row">
                        <div class="col-9">
                            <label class="mb-2"><strong>Mã sản phẩm:</strong> {{product.productID}}</label><br>
                            <label class="mb-2"><strong>Tên sản phẩm:</strong> {{product.productName}}</label><br>
                            <label class="mb-2"><strong>Loại:</strong> {{product.categories.categoriesName}}</label><br>
                            <label class="mb-2"><strong>Hạn sử dụng:</strong> {{product.nearestExpDate}}</label><br>
                            <label class="mb-2"><strong>Trạng thái:</strong> {{product.status?'Đang kinh doanh':'Ngừng kinh doanh'}}</label><br>
                            <label class="mb-2"><strong>Giá nhập:</strong> {{product.importPrice | number}}</label><br>
                            <label class="mb-2"><strong>Giá bán:</strong> {{product.price | number}}</label><br>
                            <label class="mb-2"><strong>VAT:</strong> {{product.vat}} %</label><br>
                            <label class="mb-2"><strong>Tồn kho:</strong> {{product.inventory  | number}}</label><br>
                            <label class="mb-2"><strong>Cửa hàng:</strong> {{product.store.address}}</label><br>
                        </div>
                        <div class="col-3 text-end">
                            <img src="../images/logo/logo3.jpg" alt="" height="200px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- js -->
    <script src="../js/productInf.js"></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>