<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Angular-UI -->
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.0.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="../css/style-sell.css">
    <link rel="stylesheet" href="../css/angular-ui-tab-scroll.css" />
    <link rel="stylesheet" href="../css/autoComplete.css">
    <!-- <link rel="stylesheet" href="/static/css/vertical-layout-light/style.css"> -->
</head>

<body ng-app="app">
    <header class="border-bottom">
        <div class="row align-items-center">
            <div class="welcome col">
                <button class="btn bg-info bg-gradient menu" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" title="Menu">
                    <i class="bi bi-list"></i>
                </button>
                <a class="menuHiden" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                    aria-controls="offcanvasExample">
                    <img src="../images/logo/logo3-removebg.png" alt="logo" style="width: 100px;">
                </a>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Chức năng</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                Thanh toán
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">Tra cứu hóa đơn</a>
                            <a href="#" class="list-group-item list-group-item-action">Nhập trả hóa đơn</a>
                            <a href="#" class="list-group-item list-group-item-action">Kiểm tra giá</a>
                        </div>

                    </div>
                    <div class="offcanvas-footer text-center" style="padding: 1rem;">
                        <p>Cửa hàng:</p>
                        <p></p>
                        <p id="storeID" class="d-none">1</p>
                    </div>
                </div>
            </div>
            <div class="col logo text-center">
                <a href="/" class="text-decoration-none">
                    <img src="../images/logo/logo3-removebg.png" alt="logo" style="width: 100px;">
                </a>
            </div>
            <div class="col account">
                <div class="dropdown d-flex justify-content-end">
                    <a href="#" class="d-block link-dark text-decoration-none" id="acount" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="px-2 username">Đồng Võ Nghiệp</span>
                        <img src="../images/faces/face1.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="acount">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="../images/faces/face1.jpg" alt="Profile image">
                            <p class="mt-3 mb-1"><strong class="mb-1 mt-3">Đồng Võ Nghiệp</strong></p>
                            <p class="fw-light text-muted mb-0">dongnghiepit@gmail.com</p>
                            <p class="d-none" id="employeeID">1</p>
                        </div>

                        <li><a class="dropdown-item" href="#">Hồ sơ cá nhân</a></li>
                        <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </header>

    <main ng-controller="bill-ctrl">
        <div class="row p-0 m-0" style="min-height: 600px;">
            <div class="col-9 p-4">
                <tabset>
                    <tab ng-repeat="invoice in bills" active=invoice.active heading="Hóa đơn {{invoice.stt}}" class="nav-item">
                        <tab-heading ng-click="selectBill(invoice.bill.billID)" class="tab nav-link {{invoice.active === true ? 'active' : ''}}">
                            Hóa đơn {{invoice.stt}}
                            <a ng-click="removeTab($index)" href='' class="ms-2 btn btn-outline-danger" style="outline: none !important;
                            border: none !important;padding: 0 0.25rem;">
                                <i class="bi bi-x-octagon"></i>
                            </a>
                            
                        </tab-heading>
                        <div>
                            <!-- Content start -->
                            <div class="tab-content" id="myTabContent" style="border: none !important; outline: none;">
                                <div>
                                    <!-- <p ng-bind="invoiceID"></p> -->
                                    <div class="tab-pane fade show table-responsive table border border-info rounded-2 mt-1"
                                        id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <table class="table table-responsive text-center">
                                            <thead class="bg-info text-white">
                                                <tr>
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Số lượng</th>
                                                    <th scope="col">Đơn giá (Có VAT)</th>
                                                    <th scope="col">Khuyến mãi</th>
                                                    <th scope="col">Thành tiền</th>
                                                    <th scope="col">Hủy</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in listProduct">
                                                    <td style="width: 15%;">{{item.billDetail.product.productID}}</td>
                                                    <td style="width: 30%; word-wrap: break-word;">
                                                        {{item.billDetail.product.productName}}</td>
                                                    <td style="width: 10%;"><input
                                                            ng-change="updateBillDetailFromInput(item.billDetail.product.productID, item.billDetail.quantity, invoice.bill.billID)"
                                                            ng-model="item.billDetail.quantity" type="number" min="1" step="1"
                                                            class="rounded-pill text-center" style="width: 80%;"></td>
                                                    <td style="width: 10%;">{{item.billDetail.product.price + (item.billDetail.product.price * (item.billDetail.product.vat / 100)) | number}}</td>
                                                    <td style="width: 15%;">{{item.discountName}}</td>
                                                    <td style="width: 15%;">{{item.billDetail.totalAmount | number}}</td>
                                                    <td style="width: 5%;"><button
                                                            ng-click="deleteItem(item.billDetail.product.productID, invoice.bill.billID)"
                                                            type="button" class="btn-close" aria-label="Close"></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div class="p-2 mt-5 input-group">
                                    <span class="input-group-text" id="basic-addon1">Ghi chú:</span>
                                    <input type="text" class="form-control border-3" ng-model="bill.name" />
                                </div> -->
                            </div>
                            <!-- Content end -->
                        </div>
                    </tab>
                    <tab ng-click="addBill()" style="margin-left: 0.4rem;">
                        <tab-heading class="btn btn-outline-info">
                            <i class="bi bi-bag-plus-fill"></i>
                        </tab-heading>
                    </tab>
                </tabset>
            </div>
            <div class="col-3 border" style="background-color: #F4F5F7; padding: 0px; height: 635px;">
                <div class="p-3 border-bottom border-3">
                    <label for="" class="mb-2">Nhập mã sản phẩm</label><br>
                    <div class="autocomplete">
                        <input id="productCode" type="text" class="form-control" ng-model="productCode"
                            ng-change="addProductToBillDetail(productCode)">
                    </div>
                </div>

                <div class="p-3 border-bottom border-3">                   
                    <label class="mb-3">Tổng tiền: <strong  id="totalAmount">{{totalAmount | number}}</strong> VND</label><br>
                    <label class="mb-3">Đã giảm: <strong id="discount">{{discount | number}}</strong> VND</label><br>
                    <label>Phải thu: <strong>{{amountReceivable | number}}</strong> VND</label>
                </div>

                <div class="p-3 border-bottom border-3">
                    <label class="mb-3">Tiền mặt</label>
                    <input  id="cash" ng-model="money" ng-change="cash(money)" type="text" class="form-control"> <br>
                    <button type="button" class="btn btn-outline-primary">VN PAY</button>
                </div>

                <div class="border-bottom border-3 p-3">
                    <label>Tiền thối lại: {{change}} VND</label>
                </div>

                <div class="p-3">
                    <button id="print" type="button" class="btn btn-primary" ng-click="print()">Xuất hóa đơn</button> <br> <br>
                </div>
            </div>
        </div>
    </main>
    <!-- js -->
    <script src="../js/angular-ui-tab-scroll.js"></script>
    <!-- <script src="../js-work/addTab.js"></script> -->
    <script src="../js/bill.js"></script>
    <!-- <script src="../js-work/autoComplete.js"></script> -->
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script> -->
</body>

</html>