<!-- Modal -->
<div class="modal fade modal-xl" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Chi tiết hóa đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="d-flex align-items-center p-3">
                        <label for="ID_{{bill.billID}}" class="me-2">Mã hóa đơn: </label><br>
                        <span id="{{bill.billID}}" name="{{bill.billID}}" class="fw-bold">
                            {{bill.billID}}
                        </span>
                    </div>
                    <div class="d-flex align-items-center p-3">
                        <label for="storeID" class="me-2">Ngày xuất: </label><br>
                        <span id="storeID" name="bill.timeCreate" class="fw-bold">
                            {{bill.timeCreate}}
                        </span>
                    </div>
                    <div class="d-flex align-items-center p-3">
                        <label for="storeID" class="me-2">Nhân viên xuất: </label><br>
                        <span id="storeID" name="bill.employee.employeeName" class="fw-bold">
                            {{bill.employee.employeeName}}
                        </span>
                    </div>
                </div>
                <div class="overflow-auto">
                    <table class="table table-responsive table-bordered border-info">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th scope="col">Mã sản phẩm</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn giá (Có VAT)</th>
                                <!-- <th scope="col">Khuyến mãi</th> -->
                                <th scope="col">Thành tiền</th>
                                <th scope="col">Bỏ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in billDetails">
                                <td style="width: 13%;">{{item.product.productID}}</td>
                                <td style="word-wrap: break-word; width: 25%;">
                                    {{item.product.productName}}</td>
                                <td style="width: 8%;">
                                    <input class="text-center border border-0" type="text" ng-model="item.quantity" style="width: 50%;">
                                    <button class="border border-info" ng-if="item.quantity > 1"
                                        ng-click="update(item.product.productID, item.quantity - 1)">
                                        <i class="bi bi-dash fs-5"></i>
                                    </button>
                                </td>

                                <td style="width: 15%;">{{item.product.price + item.product.price *
                                    (item.product.vat/100) | number}}</td>
                                <!-- <td style="width: 15%;">{{item.discountName}}</td> -->
                                <td style="width: 15%;">{{item.totalAmount | number}}</td>
                                <td style="width: 1%;"><button ng-click="deleteItem(item.billID, item.productID, item.quantity)"
                                        type="button" class="btn-close"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <div class="d-flex align-items-center p-3">
                        <label for="storeID" class="me-2">Phải thu: </label><br>
                        <span class="fw-bold">
                            {{bill.amountReceivable | number}} VND
                        </span>
                    </div>
                    <div class="d-flex align-items-center p-3">
                        <label for="storeID" class="me-2">Tổng tiền: </label><br>
                        <span class="fw-bold">
                            {{bill.totalAmount | number}} VND
                        </span>
                    </div>
                    <div class="d-flex align-items-center p-3">
                        <label for="storeID" class="me-2">Đã giảm: </label><br>
                        <span class="fw-bold">
                            {{bill.reduced | number}} VND
                        </span>
                    </div>
                    <div class="d-flex align-items-center p-3">
                        <label for="storeID" class="me-2">Tiền mặt: </label><br>
                        <span class="fw-bold">
                            {{bill.cash | number}} VND
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-center w-100">
                    <button ng-click="delete(bill.billID)" type="button" class="btn btn-danger me-4" style="width: 17%;"
                        data-bs-dismiss="modal" aria-label="Close">Xóa</button>
                    <!-- <button type="button" class="btn btn-info me-4" style="width: 17%;">Cập
                                        nhật</button> -->
                    <a href="/print/{{bill.billID}}" class="btn btn-primary" style="width: 17%;">Xuất hóa
                        đơn</a>
                </div>
            </div>
        </div>
    </div>
</div>