<div class="px-3 py-2">
    <div class="input-group rounded-4">
        <span class="input-group-text bg-white border-end-0 pe-0" id="search-icon"><span
                class="material-symbols-outlined">
                search
            </span></span>
        <div class="form-floating">
            <input id="bill_ID" type="search" ng-model="bill_ID" list="datalistBillID" ng-change="find(bill_ID)"
                class="form-control border-start-0" placeholder="Nhập tên, mã, giá hoặc VAT để tìm sản phẩm"
                title="Search here">
            <label class="text-muted" for="bill_ID">Lọc theo mã</label>
            <datalist id="datalistBillID">
                <option ng-repeat="billID in listBillID" value="{{billID}}">
            </datalist>
        </div>
    </div>
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!-- <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto col text-decoration-none">
                <div class="d-flex align-items-center p-3 col-12 col-md-6">
                    <label>Nhập hóa đơn: </label>
                    <div class="autocomplete d-flex text-dark">
                        <input id="bill_ID" type="text" class="form-control" ng-model="bill_ID" list="datalistBillID">
                        <datalist id="datalistBillID">
                            <option ng-repeat="billID in listBillID" value="{{billID}}">
                        </datalist>
                        <button class="btn btn-info text-white ms-2 shadow-lg">
                            <i class="bi bi-search" ng-click="find(bill_ID)" title="Tìm hóa đơn"></i>
                        </button>
                    </div>
                </div>
            </div> -->
            <b class="count">{{totalBill}} Hóa đơn</b>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li class="d-flex align-items-center p-3">
                    <label for="" class="w-100">Từ ngày: </label><br>
                    <div class="ms-2">
                        <input id="from_Date" type="date" class="form-control" ng-model="fromDate"
                            ng-change="findByDate(fromDate, toDate, 0)">
                    </div>
                </li>
                <li class="d-flex align-items-center p-3">
                    <label for="" class="w-100">Đến ngày: </label><br>
                    <div class="ms-2">
                        <input id="to_Date" type="date" class="form-control" ng-model="toDate"
                            ng-change="findByDate(fromDate, toDate, 0)">
                    </div>
                </li>
            </ul>
            <!-- <div th:replace="~{/pages/admin/employee/_pagination}"></div> -->
            <!-- <div class="d-flex justify-content-between" ng-if="!isNull">
                <button ng-click="findByDate(fromDate,toDate,index - 1)"
                    class="btn btn-outline-primary {{index == 0 ? 'disabled':''}}">Trước</button>
                <button class="btn btn-info m-1" disabled>{{index + 1}} / {{maxPage}}</button>
                <button ng-click="findByDate(fromDate,toDate,index + 1)"
                    class="btn btn-outline-primary {{index == maxPage - 1 ? 'disabled':''}}">Sau</button>
            </div> -->
            <nav aria-label="Page navigation example" ng-if="!isNull && isPagination">
                <ul class="pagination my-2 my-md-0">
                    <li class="page-item"><a class="page-link {{index == 0 ? 'disabled':''}}"
                            ng-click="findByDate(fromDate,toDate,index - 1)" style="cursor: pointer;">Trước</a></li>
                    <li class="page-item"><a class="page-link disabled">{{index + 1}} / {{maxPage}}</a></li>
                    <li class="page-item"><a class="page-link {{index == maxPage - 1 ? 'disabled':''}}"
                            ng-click="findByDate(fromDate,toDate,index + 1)" style="cursor: pointer;">Sau</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="row p-0 m-0">
    <div class="col-12 px-4">
        <div class="tab-pane fade show table-responsive table border border-info rounded-2" id="home" role="tabpanel"
            aria-labelledby="home-tab" style="height: fit-content;">
            <table class="table table-responsive text-center table-hover mb-0" id="body_bills">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">Mã hóa đơn</th>
                        <th scope="col">Ngày xuất</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Phải thu</th>
                        <th scope="col">Tiền mặt</th>
                        <th scope="col">Đã giảm</th>
                        <th scope="col">Tiền thối lại</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="isNull">
                        <td colspan="7">Không có dữ liệu</td>
                    </tr>
                    <tr ng-repeat="item in items" id="modal-show" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" ng-click="showDetail(item.bill.billID)"
                        style="cursor: pointer;">
                        <td style="width: 10%;">{{item.bill.billID}}</td>
                        <td style="width: 15%; word-wrap: break-word;">
                            {{item.bill.timeCreate}}</td>
                        <td style="width: 10%;">{{item.bill.totalAmount | number}} VND</td>
                        <!-- Phải thu -->
                        <td style="width: 10%;">{{item.amountReceivable | number}} VND</td>
                        <td style="width: 15%;">{{item.bill.cash | number}} VND</td>
                        <td style="width: 15%;">{{item.bill.reduced | number}} VND</td>
                        <!-- Tiền thối lại -->
                        <td style="width: 15%;">{{item.bill.cash - item.amountReceivable | number}} VND
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>